table {
	border-collapse: collapse;
	width: 48%;
	margin-bottom: 20px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}

th, td {
	text-align: left;
	background-color: black;
	padding: 8px;
	border: 1px solid #ddd; /* Add a border to all cells */
	color: rgb(255, 255, 255);
}

th {
	background-color: #000000;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

tr:nth-child(even) {
	background-color: #000000;
}

/* Add a border to the first column of all rows */
td:first-child {
	border-left: 2px solid #ddd;
}

/* Add a border to the last column of all rows */
td:last-child {
	border-right: 2px solid #ddd;
}

/* Add a border to the bottom of the last row */
tbody tr:last-child td {
	border-bottom: 2px solid #ddd;
}
